/*
  Style for Home Page Banner
*/

body{
  background-image: url('../img/cover_pic.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
}

a, a:hover{
  color: #ffffff;
}